<div class="staff_center show_place">
  <h1>従業員追加</h1>
  <%= form_with(model: @staff) do |form| %>
    <% if @staff.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

        <ul>
          <% staff.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :名前 %>
    <br><%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :メールアドレス %>
      <br><%= form.text_field :email %>
    </div>

    <div class="field">
      <%= form.label :電話番号 %>
      <br><%= form.text_field :cellphone %>
    </div>

    <div class="actions">
      <br><%= form.submit "追加", class: "btn btn-success"  %>
    </div>
  <% end %>

  <%= link_to '戻る', staffs_path,  class: "btn btn-primary" %>
</div>

